body {
  height: 100vh;
}
.stopwatch-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 1px solid;
  border-color: black;
  height: 35%;
  min-width: 40%;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.action {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
